/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(103, 103, 128); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(104, 104, 153); 
  }
  
  navbar {
    background-color: #3C5B66;
    color: #C6D1D3;
    height: 80px;
  }
  
  navbar h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    display: inline;
    position: relative;
    top: 12px;
    left: 50px;
  }
  
  header p {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 30px;
    position: relative;
    margin: 0px auto;
    bottom: 25px;
    width: 326px;
  }
  
  header ul {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    float: right;
    position: relative;
    bottom: 55px;
    right: 50px;
  }
  
  header ul li {
    display: inline;
    font-size: 30px;
  }
  
  header ul .top-score {
    padding-left: 10px;
  }
  
  header ul .score {
    padding-right: 10px;
    border-right: solid #C6D1D3 1px;
  }
  
  .header {
    background-image: url(sub-header\ background.jpg);
    background-size: cover;
    height: 750px;
    border-bottom: solid #3C5B66 50px;
  }
  
  .header p {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #C6D1D3;
    position: relative;
    top: 765px;
    margin: 0px auto;
    width: 685px;
  }
  
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px 50px;
    background-color: #0A2135;
  }

  
  .main img {
    width: 200px;
    height: 150px;
    border: solid #9FB8BF 4px;
    border-radius: 5px;
    margin: 0px auto;
  }
  
  footer {
    background-color: #3C5B66;
    height: 30px;
    color: #9FB8BF;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }
  
  footer p {
    position: relative;
    top: 5px;

  }